<div class="estimate-select" data-controller="estimate">
  <input data-estimate-target="input" type="hidden" name="<%= name %>" value="<%= value %>" />
  <span class="button left" data-action="click->estimate#handleMinus">-</span>
  <span class="value" data-estimate-target="value"></span>
  <span class="button right" data-action="click->estimate#handlePlus">+</span>
</div>