<div class="absolute bottom-12 left-0 right-0 flex flex-row justify-center">
  <div class="action-bar" data-controller="action-bar">
	<button data-action="click->action-bar#deleteTasks">
	  <%= heroicon "trash" %>
	  <span data-action-bar-target="deleteButtonLabel"></span>
	</button>
	
	<button>
	  <%= heroicon "arrow-circle-right" %>
	  <span>Move (0)</span>
	</button>
  </div>
</div>